body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.428571429;
	color: #ffffff;
	background-image: url("../images/before-the-storm-bg.jpg");
	background-color: rgb(255, 255, 255);
	background-blend-mode: multiply;
	/* background-repeat: no-repeat; */
	background-size: 100%;
	/* filter: blur(8px);
	-webkit-filter: blur(8px); */
  }
